@import url(https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,400,400i,500,500i,700,700i);
@import url(https://cdn.rawgit.com/tonsky/FiraCode/1.204/distr/fira_code.css);
@import url('https://fonts.googleapis.com/css2?family=Playfair+Displayr:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');


/*
colors uses in this
links rgb(199, 5, 76)
higlight color for position #ef8354
inline code#FA387f
code highlight bg #BCCDDC
bottom border color#331832

--pictorial-carmine: #c7054cff;
--steel-blue: #5b85aaff;
--mandarin: #ef8354ff;
--dark-purple: #331832ff;
--space-cadet: #363a59ff;

*/

body {
  font-family: 'Fira Sans','Droid Serif', 'Palatino Linotype', 'Book Antiqua', Palatino, 'Microsoft YaHei', 'Songti SC', serif;
}

.remark-code, .remark-inline-code {
  font-family: 'Fira Code', 'Lucida Console', Monaco, monospace;
  font-size: 80%;
}

a, a > code {
  color: rgb(199, 5, 76);
  text-decoration: none;
}

.status-highlight{
  color: #ef8354;
  font-weight: 700;
}

.status-place{
  color: #ef8354;
}

.remark-inline-code{
  color: #FA387f;
  font-weight: 500;
  font-size: 13pt;
}

.remark-code-line-highlighted{
  background-color: #BCCDDC;
  font-weight:500;
}

.remark-slide{
  border-bottom: -10px solid #331832;
}

.title-only-slide{
  border-bottom: none;
}

.title-only-slide h1{
  font-family: 'Playfair Display', serif;
}

.first-slide .remark-slide-number{
  display: none;
}
